server:
  port: '8080'
spring:
  application:
    name: tac-case-api-service
  datasource:
    driverClassName: org.h2.Driver
    password: ''
    url: jdbc:h2:mem:taccase-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
  h2:
    console:
      enabled: 'true'
      path: /h2-console
      settings:
        web-allow-others: 'true'
  jmx:
    enabled: 'true'
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: 'true'
    show-sql: 'true'
#  shell:
#    interactive:
#      enabled: false

#    command:
#      clear:
#        enabled: true
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://localhost:9000
#          jwk-set-uri: http://localhost:9000/oauth2/jwks
#logging:
#  level:
#    root: info
#logging:
#  level:
#    root: debug
logging:
  level:
    org:
      springframework: debug
